body{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
h1{
    color: white;
}
ul{
    color: white
}
li{
    color: white;
}
h3{

    color:white;

}
body{
    background-color: black;
}
.container{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;

}
img{
    display: block;
    margin: 0 auto;
}
ol{
    display: inline-block;
    text-align: left;
}
.tableau-container{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
a{
    color:white
}
